{% extends 'recommend/base.html' %} {% load static %}
{% get_media_prefix as MP %}
{% block styling %}
<style>
</style>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Hello, {{ user.username }}!</h1>
<h3>Recommended for you</h3>
{% for rs in rec_songs %}
{% endfor %}
<h3>Songs</h3>
{% for song in songs %}
<img class="mysong" id="song_{{song.id}}" width="200ps" height="200px" src="{{ song.song_logo.url }}" alt="">
<!-- album_set.get().album_logo -->
<paper-audio-player id="paper_song_{{song.id}}" src="{{song.audio_file.url}}" title="{{ song.title }} - {{ song.artist_name }}" color="#F05C38"></paper-audio-player>
{% endfor %}
<h3>Albums</h3>
{% for album in albums %}
<img width="200px" height="200px" src="{{ album.album_logo.url }}">
{{ album.title }}
{% endfor %}
{% else %}
<h1>Hello, World!</h1>
Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">signup</a>
{% endif %}
<!-- <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div> -->
{% endblock %}
